/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

.topbar-wrp>.fl-row-content-wrap {
    background-color: #F5901e;
}

.topbar-wrp .fl-row-content {
    max-width: 1300px;
}

.topbar-wrp>.fl-row-content-wrap {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.fl-node-5d827d535fd1f {
    color: #414042;
}

.fl-builder-content .fl-node-5d827d535fd1f *:not(input):not(textarea):not(select):not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(.fl-menu-mobile-toggle) {
    color: inherit;
}

.fl-builder-content .fl-node-5d827d535fd1f a {
    color: #414042;
}

.fl-builder-content .fl-node-5d827d535fd1f a:hover {
    color: #414042;
}

.fl-builder-content .fl-node-5d827d535fd1f h1,
.fl-builder-content .fl-node-5d827d535fd1f h2,
.fl-builder-content .fl-node-5d827d535fd1f h3,
.fl-builder-content .fl-node-5d827d535fd1f h4,
.fl-builder-content .fl-node-5d827d535fd1f h5,
.fl-builder-content .fl-node-5d827d535fd1f h6,
.fl-builder-content .fl-node-5d827d535fd1f h1 a,
.fl-builder-content .fl-node-5d827d535fd1f h2 a,
.fl-builder-content .fl-node-5d827d535fd1f h3 a,
.fl-builder-content .fl-node-5d827d535fd1f h4 a,
.fl-builder-content .fl-node-5d827d535fd1f h5 a,
.fl-builder-content .fl-node-5d827d535fd1f h6 a {
    color: #414042;
}

.fl-node-5d827d535fd1f>.fl-row-content-wrap {
    background-color: #ffffff;
}

.fl-node-5d827d535fd1f .fl-row-content {
    max-width: 1300px;
}

.fl-node-5d827d535fd1f>.fl-row-content-wrap {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.fl-node-5d827d8591d19>.fl-row-content-wrap {
    background-color: #455660;
}

.fl-node-5d827d8591d19>.fl-row-content-wrap {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.fl-node-5d946a3235e76>.fl-row-content-wrap {
    background-color: #1c568a;
}

.fl-node-5d839ea8845fb>.fl-row-content-wrap {
    background-color: #ffffff;
}

@media ( max-width: 768px) {
    .fl-node-5d839ea8845fb.fl-row>.fl-row-content-wrap {
        padding-right: 0px;
    }
}

.fl-node-5d827a7d440ed {
    width: 100%;
}

.fl-node-5d827a7d440ed>.fl-col-content {
    background-color: #F5901e;
}

.fl-node-5d827a7d440ed>.fl-col-content {
    margin-top: -10px;
    margin-right: -10px;
    margin-left: -10px;
}

.fl-node-5d827d535fdd6 {
    width: 100%;
}

.fl-node-5d827d8c4b8ba {
    width: 33.333%;
}

.fl-node-5d827d8c4b8ba>.fl-col-content {
    margin-bottom: 0px;
}

.fl-node-5d827d8c4b8bd {
    width: 58.667%;
}

.fl-node-5d839b9a59bf9 {
    width: 8%;
}

.fl-node-5d827d8591da2 {
    width: 100%;
}

.fl-node-5d946a32427f6 {
    width: 100%;
}

.fl-node-5d935b273c98b {
    width: 18%;
}

.fl-node-5d839ea88d180 {
    width: 64%;
}

@media(max-width: 768px) {
    .fl-builder-content .fl-node-5d839ea88d180 {
        width: 40% !important;
        max-width: none;
        clear: none;
        float: left;
    }
}

.fl-node-5d839ea88d187 {
    width: 18%;
}

@media ( max-width: 768px) {
    .fl-node-5d839ea88d187.fl-col>.fl-col-content {
        margin-right: 9px;
    }
}

.fl-builder-content .fl-rich-text strong {
    font-weight: bold;
}

.fl-node-5d827ae85f07d .fl-rich-text,
.fl-node-5d827ae85f07d .fl-rich-text * {
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
}

.fl-node-5d827ae85f07d>.fl-module-content {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media ( max-width: 768px) {
    .fl-node-5d827ae85f07d.fl-module>.fl-module-content {
        margin-bottom: 0px;
    }
}

.uabb-photo-content.uabb-img-grayscale img {
    -webkit-filter: grayscale(100%);
    -webkit-filter: grayscale(1);
    filter: grayscale(100%);
    filter: gray;
}

.uabb-photo-content .uabb-photo-caption {
    pointer-events: none;
}

.uabb-photo-img {
    max-height: inherit;
}

.fl-node-5d826be56f8a9 {
    width: 100%;
}

.fl-node-5d826be56f8a9 .uabb-photo-content {}

.fl-node-5d826be56f8a9 .uabb-photo-content img {}

.fl-node-5d826be56f8a9 .uabb-photo-caption {}

.fl-node-5d826be56f8a9 .uabb-photo-content .uabb-photo-img {
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.fl-node-5d826be56f8a9 .uabb-photo-content .uabb-photo-img {
    opacity: 1;
}

.fl-node-5d826be56f8a9 .uabb-photo-content .uabb-photo-img:hover {
    opacity: 1;
}

@media ( max-width: 768px) {
    .fl-node-5d826be56f8a9 .uabb-photo-mob-align-left {
        text-align: left;
    }
}

.fl-menu ul,
.fl-menu li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.fl-menu .menu:before,
.fl-menu .menu:after {
    content: '';
    display: table;
    clear: both;
}

.fl-menu li {
    position: relative;
}

.fl-menu a {
    display: block;
    padding: 10px;
    line-height: 1;
    text-decoration: none;
}

.fl-menu a:hover {
    text-decoration: none;
}

.fl-menu .sub-menu {
    min-width: 220px;
}

.fl-module[data-node] .fl-menu .fl-menu-expanded .sub-menu {
    background-color: transparent;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

.fl-menu .fl-has-submenu:focus,
.fl-menu .fl-has-submenu .sub-menu:focus,
.fl-menu .fl-has-submenu-container:focus {
    outline: 0;
}

.fl-menu .fl-has-submenu-container {
    position: relative;
}

.fl-menu .fl-has-submenu-container a {
    padding-right: 38px;
}

.fl-menu .fl-menu-accordion .fl-has-submenu>.sub-menu {
    display: none;
}

.fl-menu .fl-menu-accordion .fl-has-submenu.fl-active .hide-heading>.sub-menu {
    box-shadow: none;
    display: block !important;
}

.fl-menu .fl-menu-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    cursor: pointer;
}

.fl-menu .fl-toggle-arrows .fl-menu-toggle:before,
.fl-menu .fl-toggle-none .fl-menu-toggle:before {
    border-color: #333;
}

.fl-menu .fl-menu-expanded .fl-menu-toggle {
    display: none;
}

.fl-menu .fl-menu-mobile-toggle {
    position: relative;
    padding: 8px;
    background-color: transparent;
    border: none;
    color: #333;
    border-radius: 0;
}

.fl-menu .fl-menu-mobile-toggle.text {
    width: 100%;
    text-align: center;
}

.fl-menu .fl-menu-mobile-toggle.hamburger .fl-menu-mobile-toggle-label,
.fl-menu .fl-menu-mobile-toggle.hamburger-label .fl-menu-mobile-toggle-label {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

.fl-menu .fl-menu-mobile-toggle.hamburger .svg-container,
.fl-menu .fl-menu-mobile-toggle.hamburger-label .svg-container {
    display: inline-block;
    position: relative;
    width: 1.4em;
    height: 1.4em;
    vertical-align: middle;
}

.fl-menu .fl-menu-mobile-toggle.hamburger .hamburger-menu,
.fl-menu .fl-menu-mobile-toggle.hamburger-label .hamburger-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.fl-menu .fl-menu-mobile-toggle.hamburger .hamburger-menu rect,
.fl-menu .fl-menu-mobile-toggle.hamburger-label .hamburger-menu rect {
    fill: currentColor;
}

li.mega-menu .hide-heading>a,
li.mega-menu .hide-heading>.fl-has-submenu-container,
li.mega-menu-disabled .hide-heading>a,
li.mega-menu-disabled .hide-heading>.fl-has-submenu-container {
    display: none;
}

ul.fl-menu-horizontal li.mega-menu {
    position: static;
}

ul.fl-menu-horizontal li.mega-menu>ul.sub-menu {
    top: inherit !important;
    left: 0 !important;
    right: 0 !important;
    width: 100%;
}

ul.fl-menu-horizontal li.mega-menu.fl-has-submenu:hover>ul.sub-menu,
ul.fl-menu-horizontal li.mega-menu.fl-has-submenu.focus>ul.sub-menu {
    display: flex !important;
}

ul.fl-menu-horizontal li.mega-menu>ul.sub-menu li {
    border-color: transparent;
}

ul.fl-menu-horizontal li.mega-menu>ul.sub-menu>li {
    width: 100%;
}

ul.fl-menu-horizontal li.mega-menu>ul.sub-menu>li>.fl-has-submenu-container a {
    font-weight: bold;
}

ul.fl-menu-horizontal li.mega-menu>ul.sub-menu>li>.fl-has-submenu-container a:hover {
    background: transparent;
}

ul.fl-menu-horizontal li.mega-menu>ul.sub-menu .fl-menu-toggle {
    display: none;
}

ul.fl-menu-horizontal li.mega-menu>ul.sub-menu ul.sub-menu {
    background: transparent;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    display: block;
    min-width: 0;
    opacity: 1;
    padding: 0;
    position: static;
    visibility: visible;
}

.fl-menu-mobile-clone {
    clear: both;
}

.fl-menu-mobile-clone .fl-menu .menu {
    float: none !important;
}

.fl-menu-mobile-close {
    display: none;
}

.fl-menu-mobile-close,
.fl-menu-mobile-close:hover,
.fl-menu-mobile-close:focus {
    background: none;
    border: 0 none;
    color: inherit;
    font-size: 18px;
    padding: 10px 6px 10px 14px;
}

.fl-builder-ie-11 .fl-module-menu .fl-menu-horizontal .fl-has-submenu:hover>.sub-menu {
    z-index: 60;
}

.fl-node-5d826ff320ba5 .fl-menu .menu {}

.fl-node-5d826ff320ba5 .menu a {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.fl-builder-content .fl-node-5d826ff320ba5 .menu>li>a,
.fl-builder-content .fl-node-5d826ff320ba5 .menu>li>.fl-has-submenu-container>a,
.fl-builder-content .fl-node-5d826ff320ba5 .sub-menu>li>a,
.fl-builder-content .fl-node-5d826ff320ba5 .sub-menu>li>.fl-has-submenu-container>a {
    color: #414042;
}

.fl-node-5d826ff320ba5 .fl-menu .fl-toggle-arrows .fl-menu-toggle:before,
.fl-node-5d826ff320ba5 .fl-menu .fl-toggle-none .fl-menu-toggle:before {
    border-color: #414042;
}

.fl-node-5d826ff320ba5 .menu>li>a:hover,
.fl-node-5d826ff320ba5 .menu>li>a:focus,
.fl-node-5d826ff320ba5 .menu>li>.fl-has-submenu-container:hover>a,
.fl-node-5d826ff320ba5 .menu>li>.fl-has-submenu-container.focus>a,
.fl-node-5d826ff320ba5 .sub-menu>li>a:hover,
.fl-node-5d826ff320ba5 .sub-menu>li>a:focus,
.fl-node-5d826ff320ba5 .sub-menu>li>.fl-has-submenu-container:hover>a,
.fl-node-5d826ff320ba5 .sub-menu>li>.fl-has-submenu-container.focus>a,
.fl-node-5d826ff320ba5 .menu>li.current-menu-item>a,
.fl-node-5d826ff320ba5 .menu>li.current-menu-item>.fl-has-submenu-container>a,
.fl-node-5d826ff320ba5 .sub-menu>li.current-menu-item>a,
.fl-node-5d826ff320ba5 .sub-menu>li.current-menu-item>.fl-has-submenu-container>a {
    color: #455660;
}

.fl-node-5d826ff320ba5 .fl-menu .fl-toggle-arrows .fl-has-submenu-container:hover>.fl-menu-toggle:before,
.fl-node-5d826ff320ba5 .fl-menu .fl-toggle-arrows .fl-has-submenu-container.focus>.fl-menu-toggle:before,
.fl-node-5d826ff320ba5 .fl-menu .fl-toggle-arrows li.current-menu-item>.fl-has-submenu-container>.fl-menu-toggle:before,
.fl-node-5d826ff320ba5 .fl-menu .fl-toggle-none .fl-has-submenu-container:hover>.fl-menu-toggle:before,
.fl-node-5d826ff320ba5 .fl-menu .fl-toggle-none .fl-has-submenu-container.focus>.fl-menu-toggle:before,
.fl-node-5d826ff320ba5 .fl-menu .fl-toggle-none li.current-menu-item>.fl-has-submenu-container>.fl-menu-toggle:before {
    border-color: #455660;
}

.fl-node-5d826ff320ba5 .menu .fl-has-submenu .sub-menu {
    display: none;
}

.fl-node-5d826ff320ba5 .fl-menu .sub-menu {
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
}

.fl-node-5d826ff320ba5 .fl-menu-horizontal.fl-toggle-arrows .fl-has-submenu-container a {
    padding-right: 29px;
}

.fl-node-5d826ff320ba5 .fl-menu-horizontal.fl-toggle-arrows .fl-menu-toggle,
.fl-node-5d826ff320ba5 .fl-menu-horizontal.fl-toggle-none .fl-menu-toggle {
    width: 29px;
    height: 29px;
    margin: -14.5px 0 0;
}

.fl-node-5d826ff320ba5 .fl-menu-horizontal.fl-toggle-arrows .fl-menu-toggle,
.fl-node-5d826ff320ba5 .fl-menu-horizontal.fl-toggle-none .fl-menu-toggle,
.fl-node-5d826ff320ba5 .fl-menu-vertical.fl-toggle-arrows .fl-menu-toggle,
.fl-node-5d826ff320ba5 .fl-menu-vertical.fl-toggle-none .fl-menu-toggle {
    width: 29px;
    height: 29px;
    margin: -14.5px 0 0;
}

.fl-node-5d826ff320ba5 .fl-menu li {
    border-top: 1px solid transparent;
}

.fl-node-5d826ff320ba5 .fl-menu li:first-child {
    border-top: none;
}

@media ( max-width: 768px) {
    .fl-node-5d826ff320ba5 .fl-menu ul.menu {
        display: none;
    }
    .fl-menu-horizontal {
        text-align: left;
    }
    .fl-node-5d826ff320ba5 .fl-menu .sub-menu {
        background-color: transparent;
        -webkit-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow: none;
    }
    .fl-node-5d826ff320ba5 .mega-menu.fl-active .hide-heading>.sub-menu,
    .fl-node-5d826ff320ba5 .mega-menu-disabled.fl-active .hide-heading>.sub-menu {
        display: block !important;
    }
}

@media ( min-width: 769px) {
    .fl-node-5d826ff320ba5 .fl-menu .menu>li {
        display: inline-block;
    }
    .fl-node-5d826ff320ba5 .menu li {
        border-left: 1px solid transparent;
        border-top: none;
    }
    .fl-node-5d826ff320ba5 .menu li:first-child {
        border: none;
    }
    .fl-node-5d826ff320ba5 .menu li li {
        border-top: 1px solid transparent;
        border-left: none;
    }
    .fl-node-5d826ff320ba5 .menu .fl-has-submenu .sub-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;
        visibility: hidden;
        opacity: 0;
        text-align: left;
    }
    .fl-node-5d826ff320ba5 .fl-has-submenu .fl-has-submenu .sub-menu {
        top: 0;
        left: 100%;
    }
    .fl-node-5d826ff320ba5 .fl-menu .fl-has-submenu:hover>.sub-menu,
    .fl-node-5d826ff320ba5 .fl-menu .fl-has-submenu.focus>.sub-menu {
        display: block;
        visibility: visible;
        opacity: 1;
    }
    .fl-node-5d826ff320ba5 .menu .fl-has-submenu.fl-menu-submenu-right .sub-menu {
        left: inherit;
        right: 0;
    }
    .fl-node-5d826ff320ba5 .menu .fl-has-submenu .fl-has-submenu.fl-menu-submenu-right .sub-menu {
        top: 0;
        left: inherit;
        right: 100%;
    }
    .fl-node-5d826ff320ba5 .fl-menu .fl-has-submenu.fl-active>.fl-has-submenu-container .fl-menu-toggle {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
    .fl-node-5d826ff320ba5 .fl-menu .fl-menu-toggle {
        display: none;
    }
    .fl-node-5d826ff320ba5 ul.sub-menu {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }
    .fl-node-5d826ff320ba5 ul.sub-menu a {}
    .fl-node-5d826ff320ba5 .fl-menu-mobile-toggle {
        display: none;
    }
}

.fl-node-5d826ff320ba5 .fl-menu-mobile-toggle {
    font-size: 15px;
    text-transform: uppercase;
    color: #414042;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-color: rgba( 0, 0, 0, 0.1);
}

.fl-node-5d826ff320ba5 .fl-menu-mobile-toggle rect {
    fill: #414042;
}

.fl-node-5d826ff320ba5 .fl-menu-mobile-toggle:hover,
.fl-node-5d826ff320ba5 .fl-menu-mobile-toggle.fl-active {
    color: #455660;
}

.fl-node-5d826ff320ba5 .fl-menu-mobile-toggle:hover rect,
.fl-node-5d826ff320ba5 .fl-menu-mobile-toggle.fl-active rect {
    fill: #455660;
}

.fl-node-5d826ff320ba5 ul.fl-menu-horizontal li.mega-menu>ul.sub-menu>li>.fl-has-submenu-container a:hover {
    color: #414042;
}

.fl-node-5d826ff320ba5 .fl-menu .menu,
.fl-node-5d826ff320ba5 .fl-menu .menu>li {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.fl-node-5d826ff320ba5 .fl-menu {
    text-align: center;
}

.fl-node-5d826ff320ba5 .fl-menu .menu {
    float: none;
    display: inline-block;
    vertical-align: top;
}

.fl-node-5d826ff320ba5 .fl-menu-mobile-toggle {
    float: none;
}

@media(max-width: 992px) {
    .fl-node-5d826ff320ba5 .fl-menu .menu {
        float: none;
        display: inline-block;
        vertical-align: top;
    }
    .fl-node-5d826ff320ba5 .fl-menu-mobile-toggle {
        float: none;
    }
}

@media(max-width: 768px) {
    .fl-node-5d826ff320ba5 .fl-menu .menu {
        float: none;
        display: inline-block;
        vertical-align: top;
    }
    .fl-node-5d826ff320ba5 .fl-menu-mobile-toggle {
        float: none;
    }
}

.fl-node-5d826ff320ba5>.fl-module-content {
    margin-top: 27px;
}

@media (max-width: 768px) {
    .fl-node-5d826ff320ba5>.fl-module-content {
        margin-top: 20px;
    }
}

.uabb-imgicon-wrap .uabb-image {
    line-height: 0;
    position: relative;
}

.uabb-imgicon-wrap .uabb-image-align-left {
    text-align: left;
}

.uabb-imgicon-wrap .uabb-image-align-center {
    text-align: center;
}

.uabb-imgicon-wrap .uabb-image-align-right {
    text-align: right;
}

.uabb-imgicon-wrap .uabb-image-content {
    border-radius: 0;
    display: inline-block;
    line-height: 0;
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.uabb-imgicon-wrap .uabb-image-content img {
    display: inline;
    height: auto !important;
    max-width: 100%;
    width: auto;
    border-radius: inherit;
}

.fl-builder-content .uabb-imgicon-wrap .uabb-image-content img {
    box-sizing: border-box;
}

.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-circle img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-square img {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.fl-node-5d839bba0298e .uabb-imgicon-wrap {
    text-align: center;
}

.fl-node-5d839bba0298e .uabb-icon-wrap .uabb-icon i,
.fl-node-5d839bba0298e .uabb-icon-wrap .uabb-icon i:before {
    color: #F5901e;
    font-size: 30px;
    height: auto;
    width: auto;
    line-height: 30px;
    height: 30px;
    width: 30px;
    text-align: center;
}

.fl-node-5d839bba0298e .uabb-icon-wrap .uabb-icon i:before {
    background: none;
}

.fl-node-5d839bba0298e .uabb-icon-wrap .uabb-icon i:hover,
.fl-node-5d839bba0298e .uabb-icon-wrap .uabb-icon i:hover:before {
    color: ;
}

.fl-node-5d839bba0298e .uabb-icon-wrap .uabb-icon i:hover:before {
    background: none;
}

@media ( max-width: 992px) {
    .fl-node-5d839bba0298e .uabb-imgicon-wrap {
        text-align: ;
    }
}

@media ( max-width: 768px) {
    .fl-node-5d839bba0298e .uabb-imgicon-wrap {
        text-align: ;
    }
}

.fl-node-5d839bba0298e>.fl-module-content {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.uabb-creative-menu ul,
.uabb-creative-menu li {
    list-style: none !important;
    margin: 0;
    padding: 0;
}

.uabb-creative-menu .menu:before,
.uabb-creative-menu .menu:after {
    content: '';
    display: table;
    clear: both;
}

.uabb-creative-menu .menu {
    position: relative;
    padding-left: 0;
}

.uabb-creative-menu li {
    position: relative;
}

.uabb-creative-menu a {
    display: block;
    line-height: 1;
    text-decoration: none;
}

.uabb-creative-menu .menu a {
    box-shadow: none;
}

.uabb-creative-menu a:hover {
    text-decoration: none;
}

.uabb-creative-menu .sub-menu {
    min-width: 220px;
    margin: 0;
}

.uabb-creative-menu-horizontal {
    font-size: 0;
}

.uabb-creative-menu-horizontal li,
.uabb-creative-menu-horizontal>li {
    font-size: medium;
}

.uabb-creative-menu-horizontal>li>.uabb-has-submenu-container>a>span.menu-item-text {
    display: inline-block;
}

.fl-module[data-node] .uabb-creative-menu .uabb-creative-menu-expanded .sub-menu {
    background-color: transparent;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

.uabb-creative-menu .uabb-has-submenu:focus,
.uabb-creative-menu .uabb-has-submenu .sub-menu:focus,
.uabb-creative-menu .uabb-has-submenu-container:focus {
    outline: 0;
}

.uabb-creative-menu .uabb-has-submenu-container {
    position: relative;
}

.uabb-creative-menu .uabb-creative-menu-accordion .uabb-has-submenu>.sub-menu {
    display: none;
}

.uabb-creative-menu .uabb-menu-toggle {
    cursor: pointer;
}

.uabb-creative-menu .uabb-toggle-arrows .uabb-menu-toggle:before,
.uabb-creative-menu .uabb-toggle-none .uabb-menu-toggle:before {
    border-color: #333;
}

.uabb-creative-menu .uabb-menu-expanded .uabb-menu-toggle {
    display: none;
}

.uabb-creative-menu-mobile-toggle {
    position: relative;
    padding: 8px;
    background-color: transparent;
    border: none;
    color: #333;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    z-index: 5;
}

.uabb-creative-menu-mobile-toggle.text {
    width: 100%;
    text-align: center;
}

.uabb-creative-menu-mobile-toggle.hamburger .uabb-creative-menu-mobile-toggle-label,
.uabb-creative-menu-mobile-toggle.hamburger-label .uabb-creative-menu-mobile-toggle-label {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

.uabb-creative-menu-mobile-toggle.hamburger .uabb-svg-container,
.uabb-creative-menu-mobile-toggle.hamburger-label .uabb-svg-container {
    display: inline-block;
    position: relative;
    width: 1.4em;
    height: 1.4em;
    vertical-align: middle;
}

.uabb-creative-menu-mobile-toggle.hamburger .hamburger-menu,
.uabb-creative-menu-mobile-toggle.hamburger-label .hamburger-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.uabb-creative-menu-mobile-toggle.hamburger .hamburger-menu rect,
.uabb-creative-menu-mobile-toggle.hamburger-label .hamburger-menu rect {
    fill: currentColor;
}

.uabb-creative-menu.off-canvas .uabb-off-canvas-menu .uabb-menu-close-btn {
    width: 20px;
    height: 10px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    display: block;
    z-index: 99;
}

.uabb-creative-menu .uabb-menu-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    overflow-y: auto;
    overflow-x: hidden;
}

.uabb-creative-menu .uabb-menu-overlay>ul.menu {
    text-align: center;
    position: relative;
    top: 50%;
    width: 40%;
    height: 60%;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.uabb-creative-menu .uabb-overlay-fade {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
}

.uabb-creative-menu.menu-open .uabb-overlay-fade {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.uabb-creative-menu .uabb-overlay-slide-down {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
    transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.uabb-creative-menu.menu-open .uabb-overlay-slide-down {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
}

.uabb-creative-menu .uabb-overlay-scale {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
    transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.uabb-creative-menu.menu-open .uabb-overlay-scale {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
}

.uabb-creative-menu .uabb-overlay-door {
    visibility: hidden;
    width: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s;
    transition: width 0.5s 0.3s, visibility 0s 0.8s;
}

.uabb-creative-menu.menu-open .uabb-overlay-door {
    visibility: visible;
    width: 100%;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
}

.uabb-creative-menu .uabb-overlay-door>ul.menu {
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.uabb-creative-menu .uabb-overlay-door>ul,
.uabb-creative-menu .uabb-overlay-door .uabb-menu-close-btn {
    opacity: 0;
    -webkit-transition: opacity 0.3s 0.5s;
    transition: opacity 0.3s 0.5s;
}

.uabb-creative-menu.menu-open .uabb-overlay-door>ul,
.uabb-creative-menu.menu-open .uabb-overlay-door .uabb-menu-close-btn {
    opacity: 1;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.uabb-creative-menu.menu-close .uabb-overlay-door>ul,
.uabb-creative-menu.menu-close .uabb-overlay-door .uabb-menu-close-btn {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.uabb-creative-menu .uabb-menu-overlay .uabb-toggle-arrows .uabb-has-submenu-container a>span {
    padding-right: 0 !important;
}

.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn {
    position: absolute;
    display: block;
    width: 55px;
    height: 45px;
    right: 40px;
    top: 40px;
    overflow: hidden;
    border: none;
    outline: none;
    z-index: 100;
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn:before,
.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn:after {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 40px;
    background-color: #ffffff;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
}

.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn:after {
    -webkit-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
}

.uabb-creative-menu .uabb-off-canvas-menu .menu {
    margin-top: 40px;
}

.uabb-creative-menu.off-canvas .uabb-clear {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99998;
    background: rgba(0, 0, 0, 0.0);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-left {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate3d(-320px, 0px, 0px);
}

.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-right {
    position: fixed;
    top: 0;
    right: 0;
    transform: translate3d(320px, 0px, 0px);
}

.uabb-creative-menu .uabb-off-canvas-menu {
    z-index: 99999;
    width: 300px;
    height: 100%;
    background: rgb(55, 58, 71);
    padding: 60px 20px;
    -webkit-transition: all 0.8s;
    transition: transform 0.8s ease;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    perspective: 1000;
    backface-visibility: hidden;
}

.menu-open.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-left {
    transform: translate3d(0px, 0px, 0px);
    transition: transform 0.8s ease;
}

.uabb-creative-menu .menu>li>a,
.uabb-creative-menu .menu>li>.uabb-has-submenu-container a {
    outline: 0;
}

.menu-open.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-right {
    transform: translate3d(0px, 0px, 0px);
    transition: transform 0.8s ease;
}

.uabb-creative-menu.off-canvas.menu-open .uabb-clear {
    visibility: visible;
    opacity: 1;
}

@media ( max-width: 992px) {
    .uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn {
        right: 20px;
        top: 20px;
    }
}

.nav-row-wrp .uabb-creative-menu .menu {
    text-align: center;
}

.nav-row-wrp .uabb-creative-menu .menu.uabb-creative-menu-horizontal>li>a span.uabb-menu-toggle,
.nav-row-wrp .uabb-creative-menu .menu.uabb-creative-menu-horizontal>li>.uabb-has-submenu-container a span.uabb-menu-toggle {
    padding-left: 10px;
    float: right;
}

.nav-row-wrp .uabb-creative-menu .menu.uabb-creative-menu-horizontal .uabb-menu-toggle {
    padding-left: 10px;
    float: right;
}

.nav-row-wrp .uabb-creative-menu .menu>li {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.nav-row-wrp .menu .uabb-has-submenu .sub-menu {
    display: none;
}

.nav-row-wrp .uabb-creative-menu li:first-child {
    border-top: none;
}

@media only screen and ( max-width: 768px) {
    .nav-row-wrp .uabb-creative-menu .menu {
        margin-top: 20px;
    }
    .nav-row-wrp .uabb-creative-menu .uabb-off-canvas-menu .uabb-menu-close-btn,
    .nav-row-wrp .uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn {
        display: block;
    }
    .nav-row-wrp .uabb-creative-menu .menu {
        text-align: center;
    }
    .nav-row-wrp .uabb-creative-menu .menu>li {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .nav-row-wrp .uabb-creative-menu .menu>li>a span.uabb-menu-toggle,
    .nav-row-wrp .uabb-creative-menu .menu>li>.uabb-has-submenu-container a span.menu-item-text>span.uabb-menu-toggle {
        padding-left: 10px;
        float: right;
    }
    .nav-row-wrp .uabb-creative-menu .menu .uabb-menu-toggle {
        padding-left: 10px;
        float: right;
    }
}

@media only screen and ( min-width: 769px) {
    .nav-row-wrp .menu>li {
        display: inline-block;
    }
    .nav-row-wrp .menu li {
        border-left: none;
        border-top: none;
    }
    .nav-row-wrp .menu li li {
        border-top: none;
        border-left: none;
    }
    .nav-row-wrp .menu .uabb-has-submenu .sub-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 16;
        visibility: hidden;
        opacity: 0;
        text-align: left;
        transition: all 300ms ease-in;
    }
    .nav-row-wrp .uabb-has-submenu .uabb-has-submenu .sub-menu {
        top: 0;
        left: 100%;
    }
    .nav-row-wrp .uabb-creative-menu .uabb-has-submenu:hover>.sub-menu,
    .nav-row-wrp .uabb-creative-menu .uabb-has-submenu:focus>.sub-menu {
        display: block;
    }
    .nav-row-wrp .uabb-creative-menu .uabb-has-submenu:hover>.sub-menu,
    .nav-row-wrp .uabb-creative-menu .uabb-has-submenu:focus>.sub-menu {
        visibility: visible;
        opacity: 1;
    }
    .nav-row-wrp .menu .uabb-has-submenu.uabb-menu-submenu-right .sub-menu {
        top: 100%;
        left: inherit;
        right: 0;
    }
    .nav-row-wrp .menu .uabb-has-submenu .uabb-has-submenu.uabb-menu-submenu-right .sub-menu {
        top: 0;
        left: inherit;
        right: 100%;
    }
    .nav-row-wrp .uabb-creative-menu .uabb-has-submenu-container a span.menu-item-text {
        color: #ffffff;
    }
    .nav-row-wrp .uabb-creative-menu .uabb-menu-toggle {
        display: none;
    }
    .nav-row-wrp .uabb-creative-menu-mobile-toggle {
        display: none;
    }
}

.nav-row-wrp .uabb-creative-menu.uabb-menu-default .menu>li>a,
.nav-row-wrp .uabb-creative-menu.uabb-menu-default .menu>li>.uabb-has-submenu-container>a {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-row-wrp .uabb-creative-menu .menu>li>a,
.nav-row-wrp .uabb-creative-menu .menu>li>.uabb-has-submenu-container>a {}

.nav-row-wrp .uabb-creative-menu .menu>li>a,
.nav-row-wrp .uabb-creative-menu .menu>li>.uabb-has-submenu-container>a {}

.nav-row-wrp .fl-module-content .uabb-creative-menu .menu>li>a span.menu-item-text,
.nav-row-wrp .fl-module-content .uabb-creative-menu .menu>li>.uabb-has-submenu-container>a span.menu-item-text {
    width: 100%;
    color: #ffffff;
}

.nav-row-wrp .uabb-creative-menu .uabb-toggle-arrows .uabb-menu-toggle:before,
.nav-row-wrp .uabb-creative-menu .uabb-toggle-none .uabb-menu-toggle:before {
    color: #ffffff;
}

.nav-row-wrp .uabb-creative-menu .uabb-toggle-arrows li:hover .uabb-menu-toggle:before,
.nav-row-wrp .uabb-creative-menu .uabb-toggle-arrows .uabb-creative-menu.current-menu-item .uabb-menu-toggle:before,
.nav-row-wrp .uabb-creative-menu .uabb-toggle-arrows .uabb-creative-menu.current-menu-ancestor .uabb-menu-toggle:before,
.nav-row-wrp .uabb-creative-menu .uabb-toggle-none li:hover .uabb-menu-toggle:before {
    color: #f4f4f4;
}

.nav-row-wrp .uabb-creative-menu .menu>li>a:hover,
.nav-row-wrp .uabb-creative-menu .menu>li>a:focus,
.nav-row-wrp .uabb-creative-menu .menu>li:hover>.uabb-has-submenu-container>a,
.nav-row-wrp .uabb-creative-menu .menu>li:focus>.uabb-has-submenu-container>a,
.nav-row-wrp .uabb-creative-menu .menu>li.current-menu-item>a,
.nav-row-wrp .uabb-creative-menu .menu>li.current-menu-item>a,
.nav-row-wrp .uabb-creative-menu .menu>li.current-menu-ancestor>.uabb-has-submenu-container>a,
.nav-row-wrp .uabb-creative-menu .menu>li.current-menu-item>.uabb-has-submenu-container>a {}

.nav-row-wrp .uabb-creative-menu .sub-menu>li.current-menu-item>a,
.nav-row-wrp .uabb-creative-menu .sub-menu>li.current-menu-item>.uabb-has-submenu-container>a,
.nav-row-wrp .uabb-creative-menu .sub-menu>li.current-menu-ancestor>a,
.nav-row-wrp .uabb-creative-menu .sub-menu>li.current-menu-ancestor>.uabb-has-submenu-container>a {
    background-color: #004b7b;
}

.nav-row-wrp .uabb-creative-menu .menu>li>a:hover span.menu-item-text,
.nav-row-wrp .uabb-creative-menu .menu>li>a:focus span.menu-item-text,
.nav-row-wrp .uabb-creative-menu .menu>li:hover>.uabb-has-submenu-container>a span.menu-item-text,
.nav-row-wrp .uabb-creative-menu .menu>li:focus>.uabb-has-submenu-container>a span.menu-item-text,
.nav-row-wrp .uabb-creative-menu .menu>li.current-menu-item>a span.menu-item-text,
.nav-row-wrp .uabb-creative-menu .menu>li.current-menu-item>.uabb-has-submenu-container>a span.menu-item-text,
.nav-row-wrp .uabb-creative-menu .menu>li.focus>.uabb-has-submenu-container>a span.menu-item-text,
.nav-row-wrp .uabb-creative-menu .menu>li.focus>a span.menu-item-text,
.nav-row-wrp .uabb-creative-menu .menu>li.current-menu-ancestor>.uabb-has-submenu-container>a span.menu-item-text,
.nav-row-wrp .uabb-creative-menu .menu>li.current-menu-ancestor>.uabb-has-submenu-container>a span.menu-item-text>i {
    color: #f4f4f4;
}

.nav-row-wrp .uabb-creative-menu .sub-menu>li.current-menu-item>a span.menu-item-text,
.nav-row-wrp .uabb-creative-menu .sub-menu>li.current-menu-item>.uabb-has-submenu-container>a span.menu-item-text,
.nav-row-wrp .uabb-creative-menu .sub-menu>li.current-menu-item>a span.menu-item-text>i,
.nav-row-wrp .uabb-creative-menu .sub-menu>li.current-menu-item>.uabb-has-submenu-container>a span.menu-item-text>i,
.nav-row-wrp .uabb-creative-menu .sub-menu>li.current-menu-ancestor>a span.menu-item-text,
.nav-row-wrp .uabb-creative-menu .sub-menu>li.current-menu-ancestor>.uabb-has-submenu-container>a span.menu-item-text,
.nav-row-wrp .uabb-creative-menu .sub-menu>li.current-menu-ancestor>a span.menu-item-text>i,
.nav-row-wrp .uabb-creative-menu .sub-menu>li.current-menu-ancestor>.uabb-has-submenu-container>a span.menu-item-text>i {}

.nav-row-wrp .uabb-creative-menu .uabb-toggle-arrows .uabb-has-submenu-container:hover>.uabb-menu-toggle:before,
.nav-row-wrp .uabb-creative-menu .uabb-toggle-arrows .uabb-has-submenu-container.focus>.uabb-menu-toggle:before,
.nav-row-wrp .uabb-creative-menu .uabb-toggle-arrows li.current-menu-item>.uabb-has-submenu-container>.uabb-menu-toggle:before,
.nav-row-wrp .uabb-creative-menu .uabb-toggle-none .uabb-has-submenu-container:hover>.uabb-menu-toggle:before,
.nav-row-wrp .uabb-creative-menu .uabb-toggle-none .uabb-has-submenu-container.focus>.uabb-menu-toggle:before,
.nav-row-wrp .uabb-creative-menu .uabb-toggle-none li.current-menu-item>.uabb-has-submenu-container>.uabb-menu-toggle:before {
    color: #f4f4f4;
}

.nav-row-wrp .uabb-creative-menu .sub-menu>li>a,
.nav-row-wrp .uabb-creative-menu .sub-menu>li>.uabb-has-submenu-container>a {
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #003d64;
}

.nav-row-wrp .uabb-creative-menu:not(.off-canvas):not(.full-screen):not(.menu-item) .uabb-creative-menu .sub-menu {
    min-width: 250px;
}

.nav-row-wrp .uabb-creative-menu .sub-menu>li.uabb-creative-menu>a>span,
.nav-row-wrp .uabb-creative-menu .sub-menu>li>.uabb-has-submenu-container>a>span {
    color: #ffffff;
}

.nav-row-wrp .uabb-creative-menu .sub-menu>li {}

.nav-row-wrp .uabb-creative-menu .sub-menu>li:last-child {
    border-bottom: none;
}

.nav-row-wrp .uabb-creative-menu ul.sub-menu>li.uabb-creative-menu.uabb-has-submenu li:first-child,
.nav-row-wrp .uabb-creative-menu ul.sub-menu>li.uabb-creative-menu.uabb-has-submenu li li:first-child {
    border-top: none;
}

.nav-row-wrp .uabb-creative-menu .sub-menu>li.uabb-active>.sub-menu>li:first-child,
.nav-row-wrp .uabb-creative-menu .menu.uabb-creative-menu-expanded .sub-menu>li>.sub-menu>li:first-child {}

.nav-row-wrp .uabb-creative-menu .sub-menu {
    -webkit-box-shadow: 2px 2px 50px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 50px 1px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 2px 2px 50px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 50px 1px rgba(0, 0, 0, 0.3);
}

.nav-row-wrp .uabb-creative-menu .sub-menu>li:last-child>a,
.nav-row-wrp .uabb-creative-menu .sub-menu>li:last-child>.uabb-has-submenu-container>a {
    border: 0;
}

.nav-row-wrp .uabb-creative-menu ul.sub-menu>li.menu-item.uabb-creative-menu>a:hover span.menu-item-text,
.nav-row-wrp .uabb-creative-menu ul.sub-menu>li.menu-item.uabb-creative-menu>a:focus span.menu-item-text,
.nav-row-wrp .uabb-creative-menu ul.sub-menu>li.menu-item.uabb-creative-menu>.uabb-has-submenu-container>a:hover span.menu-item-text,
.nav-row-wrp .uabb-creative-menu ul.sub-menu>li.menu-item.uabb-creative-menu>.uabb-has-submenu-container>a:focus span.menu-item-text {
    color: #;
}

.nav-row-wrp .uabb-creative-menu .sub-menu>li>a:hover,
.nav-row-wrp .uabb-creative-menu .sub-menu>li>a:focus,
.nav-row-wrp .uabb-creative-menu .sub-menu>li>.uabb-has-submenu-container>a:hover,
.nav-row-wrp .uabb-creative-menu .sub-menu>li>.uabb-has-submenu-container>a:focus {
    background-color: #004b7b;
}

.nav-row-wrp .uabb-creative-menu .uabb-toggle-arrows .sub-menu li .uabb-menu-toggle:before,
.nav-row-wrp .uabb-creative-menu .uabb-toggle-none .sub-menu li .uabb-menu-toggle:before {
    color: #ffffff;
}

.nav-row-wrp .uabb-creative-menu-mobile-toggle {}

.nav-row-wrp .uabb-creative-menu-mobile-toggle-container,
.nav-row-wrp .uabb-creative-menu-mobile-toggle-container>.uabb-creative-menu-mobile-toggle.text {
    text-align: center;
}

.nav-row-wrp .uabb-creative-menu-mobile-toggle rect {
    fill: #ffffff;
}

@media only screen and ( max-width: 768px) {
    .nav-row-wrp .uabb-creative-menu .uabb-menu-overlay .menu {
        margin-top: 40px;
    }
    .nav-row-wrp .uabb-creative-menu .menu {
        text-align: center;
    }
    .nav-row-wrp .uabb-creative-menu .menu>li>a span.uabb-menu-toggle,
    .nav-row-wrp .uabb-creative-menu .menu>li>.uabb-has-submenu-container a span.menu-item-text>span.uabb-menu-toggle {
        padding-left: 10px;
        float: right;
    }
    .nav-row-wrp .uabb-creative-menu .menu .uabb-menu-toggle {
        padding-left: 10px;
        float: right;
    }
}

@media only screen and (max-width: 992px) {
    .nav-row-wrp .uabb-creative-menu-mobile-toggle-container,
    .nav-row-wrp .uabb-creative-menu-mobile-toggle-container>.uabb-creative-menu-mobile-toggle.text {
        text-align: ;
    }
    .nav-row-wrp .uabb-creative-menu .menu>li {}
    .nav-row-wrp .uabb-creative-menu.off-canvas .menu>li>a,
    .nav-row-wrp .uabb-creative-menu.off-canvas .menu>li>.uabb-has-submenu-container>a {}
    .nav-row-wrp .uabb-creative-menu.uabb-menu-default .menu>li>a,
    .nav-row-wrp .uabb-creative-menu.uabb-menu-default .menu>li>.uabb-has-submenu-container>a {}
    .nav-row-wrp .uabb-creative-menu.full-screen .menu>li>a,
    .nav-row-wrp .uabb-creative-menu.full-screen .menu>li>.uabb-has-submenu-container>a {}
    .nav-row-wrp .uabb-creative-menu .sub-menu>li>a,
    .nav-row-wrp .uabb-creative-menu .sub-menu>li>.uabb-has-submenu-container>a {}
    .nav-row-wrp .uabb-creative-menu .uabb-off-canvas-menu {}
    .nav-row-wrp .uabb-creative-menu .menu>li>a span.uabb-menu-toggle,
    .nav-row-wrp .uabb-creative-menu .menu>li>.uabb-has-submenu-container a span.menu-item-text>span.uabb-menu-toggle {
        padding-left: 10px;
        float: right;
    }
    .nav-row-wrp .uabb-creative-menu .menu .uabb-menu-toggle {
        padding-left: 10px;
        float: right;
    }
}

@media only screen and (max-width: 768px) {
    .nav-row-wrp .uabb-creative-menu-mobile-toggle-container,
    .nav-row-wrp .uabb-creative-menu-mobile-toggle-container>.uabb-creative-menu-mobile-toggle.text {
        text-align: ;
    }
    .nav-row-wrp .uabb-creative-menu .menu>li {}
    .nav-row-wrp .uabb-creative-menu.off-canvas .menu>li>a,
    .nav-row-wrp .uabb-creative-menu.off-canvas .menu>li>.uabb-has-submenu-container>a {}
    .nav-row-wrp .uabb-creative-menu.uabb-menu-default .menu>li>a,
    .nav-row-wrp .uabb-creative-menu.uabb-menu-default .menu>li>.uabb-has-submenu-container>a {}
    .nav-row-wrp .uabb-creative-menu.full-screen .menu>li>a,
    .nav-row-wrp .uabb-creative-menu.full-screen .menu>li>.uabb-has-submenu-container>a {}
    .nav-row-wrp .uabb-creative-menu .sub-menu>li>a,
    .nav-row-wrp .uabb-creative-menu .sub-menu>li>.uabb-has-submenu-container>a {}
    .nav-row-wrp .uabb-creative-menu .uabb-off-canvas-menu {}
    .nav-row-wrp .uabb-creative-menu .menu {
        text-align: center;
    }
    .nav-row-wrp .uabb-creative-menu .menu>li>a span.uabb-menu-toggle,
    .nav-row-wrp .uabb-creative-menu .menu>li>.uabb-has-submenu-container a span.menu-item-text>span.uabb-menu-toggle {
        float: right;
    }
    .nav-row-wrp .uabb-creative-menu .menu .uabb-menu-toggle {
        float: right;
    }
}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 768px) {}

.nav-row-wrp .uabb-creative-menu .menu>li>a,
.nav-row-wrp .uabb-creative-menu .menu>li>.uabb-has-submenu-container>a {
    font-weight: 300;
    font-size: 16px;
}

.nav-row-wrp .uabb-creative-menu .sub-menu>li>a,
.nav-row-wrp .uabb-creative-menu .sub-menu>li>.uabb-has-submenu-container>a {
    font-size: 12px;
}

.nav-row-wrp .uabb-creative-menu .uabb-creative-menu-expanded.menu>.uabb-has-submenu>.sub-menu,
.nav-row-wrp .uabb-creative-menu .uabb-creative-menu-accordion.menu>.uabb-has-submenu>.sub-menu {
    border-style: solid;
    border-width: 0;
    background-clip: border-box;
    border-color: #000000;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}

.nav-row-wrp .uabb-creative-menu-mobile-toggle {
    font-weight: 300;
    font-size: 16px;
}

.fl-node-5d946a394f04c>.fl-module-content {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.fl-node-5d935bd89a33b .fl-rich-text,
.fl-node-5d935bd89a33b .fl-rich-text * {
    text-align: center;
}

.fl-node-5d839ec236ee3 {
    width: 100%;
}

.fl-node-5d839ec236ee3 .uabb-photo-content {}

.fl-node-5d839ec236ee3 .uabb-photo-content img {}

.fl-node-5d839ec236ee3 .uabb-photo-caption {}

.fl-node-5d839ec236ee3 .uabb-photo-content .uabb-photo-img {
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.fl-node-5d839ec236ee3 .uabb-photo-content .uabb-photo-img {
    opacity: 1;
}

.fl-node-5d839ec236ee3 .uabb-photo-content .uabb-photo-img:hover {
    opacity: 1;
}

@media ( max-width: 768px) {
    .fl-node-5d839ec236ee3 .uabb-photo-mob-align-center {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .fl-module-icon {
        text-align: center;
    }
}

.fl-node-5d839f8f9e076 .fl-module-content .fl-icon i,
.fl-node-5d839f8f9e076 .fl-module-content .fl-icon i:before {
    color: #F5901e;
}

.fl-node-5d839f8f9e076 .fl-module-content .fl-icon i,
.fl-node-5d839f8f9e076 .fl-module-content .fl-icon i:before {
    font-size: 30px;
}

.fl-node-5d839f8f9e076 .fl-module-content .fl-icon-text {
    height: 52.5px;
}

.fl-node-5d839f8f9e076.fl-module-icon {
    text-align: center;
}

@media(max-width: 768px) {
    .fl-node-5d839f8f9e076 .fl-module-content .fl-icon i,
    .fl-node-5d839f8f9e076 .fl-module-content .fl-icon i:before {
        font-size: 29px;
    }
    .fl-node-5d839f8f9e076 .fl-module-content .fl-icon-text {
        height: 50.75px;
    }
}

.fl-node-5d839f8f9e076>.fl-module-content {
    margin-right: 0px;
    margin-left: 0px;
}

.fl-node-5d839f5982222 .fl-module-content .fl-icon i,
.fl-node-5d839f5982222 .fl-module-content .fl-icon i:before {
    color: #F5901e;
}

.fl-node-5d839f5982222 .fl-module-content .fl-icon i,
.fl-node-5d839f5982222 .fl-module-content .fl-icon i:before {
    font-size: 30px;
}

.fl-node-5d839f5982222 .fl-module-content .fl-icon-text {
    height: 52.5px;
}

.fl-node-5d839f5982222.fl-module-icon {
    text-align: center;
}

@media(max-width: 768px) {
    .fl-node-5d839f5982222 .fl-module-content .fl-icon i,
    .fl-node-5d839f5982222 .fl-module-content .fl-icon i:before {
        font-size: 29px;
    }
    .fl-node-5d839f5982222 .fl-module-content .fl-icon-text {
        height: 50.75px;
    }
}

.fl-node-5d839f5982222>.fl-module-content {
    margin-right: 0px;
    margin-left: 0px;
}

.fl-col-group-equal-height.fl-col-group-align-bottom .fl-col-content {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
}

.uabb-module-content h1,
.uabb-module-content h2,
.uabb-module-content h3,
.uabb-module-content h4,
.uabb-module-content h5,
.uabb-module-content h6 {
    margin: 0;
    clear: both;
}

.fl-module-content a,
.fl-module-content a:hover,
.fl-module-content a:focus {
    text-decoration: none;
}

.uabb-row-separator {
    position: absolute;
    width: 100%;
    left: 0;
}

.uabb-top-row-separator {
    top: 0;
    bottom: auto
}

.uabb-bottom-row-separator {
    top: auto;
    bottom: 0;
}

.fl-builder-content-editing .fl-visible-medium.uabb-row,
.fl-builder-content-editing .fl-visible-medium-mobile.uabb-row,
.fl-builder-content-editing .fl-visible-mobile.uabb-row {
    display: none !important;
}

@media (max-width: 992px) {
    .fl-builder-content-editing .fl-visible-desktop.uabb-row,
    .fl-builder-content-editing .fl-visible-mobile.uabb-row {
        display: none !important;
    }
    .fl-builder-content-editing .fl-visible-desktop-medium.uabb-row,
    .fl-builder-content-editing .fl-visible-medium.uabb-row,
    .fl-builder-content-editing .fl-visible-medium-mobile.uabb-row {
        display: block !important;
    }
}

@media (max-width: 768px) {
    .fl-builder-content-editing .fl-visible-desktop.uabb-row,
    .fl-builder-content-editing .fl-visible-desktop-medium.uabb-row,
    .fl-builder-content-editing .fl-visible-medium.uabb-row {
        display: none !important;
    }
    .fl-builder-content-editing .fl-visible-medium-mobile.uabb-row,
    .fl-builder-content-editing .fl-visible-mobile.uabb-row {
        display: block !important;
    }
}

.fl-responsive-preview-content .fl-builder-content-editing {
    overflow-x: hidden;
    overflow-y: visible;
}

.uabb-row-separator svg {
    width: 100%;
}

.uabb-top-row-separator.uabb-has-svg svg {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 50%;
    top: -1px;
    bottom: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.uabb-bottom-row-separator.uabb-has-svg svg {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 50%;
    bottom: -1px;
    top: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.uabb-bottom-row-separator.uabb-has-svg .uasvg-wave-separator {
    bottom: 0;
}

.uabb-top-row-separator.uabb-has-svg .uasvg-wave-separator {
    top: 0;
}

.uabb-bottom-row-separator.uabb-svg-triangle svg,
.uabb-bottom-row-separator.uabb-xlarge-triangle svg,
.uabb-top-row-separator.uabb-xlarge-triangle-left svg,
.uabb-bottom-row-separator.uabb-svg-circle svg,
.uabb-top-row-separator.uabb-slime-separator svg,
.uabb-top-row-separator.uabb-grass-separator svg,
.uabb-top-row-separator.uabb-grass-bend-separator svg,
.uabb-bottom-row-separator.uabb-mul-triangles-separator svg,
.uabb-top-row-separator.uabb-wave-slide-separator svg,
.uabb-top-row-separator.uabb-pine-tree-separator svg,
.uabb-top-row-separator.uabb-pine-tree-bend-separator svg,
.uabb-bottom-row-separator.uabb-stamp-separator svg,
.uabb-bottom-row-separator.uabb-xlarge-circle svg,
.uabb-top-row-separator.uabb-wave-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleY(-1);
    -moz-transform: translateX(-50%) scaleY(-1);
    -ms-transform: translateX(-50%) scaleY(-1);
    -o-transform: translateX(-50%) scaleY(-1);
    transform: translateX(-50%) scaleY(-1);
}

.uabb-bottom-row-separator.uabb-big-triangle svg {
    left: 50%;
    -webkit-transform: scale(1) scaleY(-1) translateX(-50%);
    -moz-transform: scale(1) scaleY(-1) translateX(-50%);
    -ms-transform: scale(1) scaleY(-1) translateX(-50%);
    -o-transform: scale(1) scaleY(-1) translateX(-50%);
    transform: scale(1) scaleY(-1) translateX(-50%);
}

.uabb-top-row-separator.uabb-big-triangle svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
}

.uabb-top-row-separator.uabb-xlarge-triangle-right svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(-1);
    -moz-transform: translateX(-50%) scale(-1);
    -ms-transform: translateX(-50%) scale(-1);
    -o-transform: translateX(-50%) scale(-1);
    transform: translateX(-50%) scale(-1);
}

.uabb-bottom-row-separator.uabb-xlarge-triangle-right svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleX(-1);
    -moz-transform: translateX(-50%) scaleX(-1);
    -ms-transform: translateX(-50%) scaleX(-1);
    -o-transform: translateX(-50%) scaleX(-1);
    transform: translateX(-50%) scaleX(-1);
}

.uabb-top-row-separator.uabb-curve-up-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleY(-1);
    -moz-transform: translateX(-50%) scaleY(-1);
    -ms-transform: translateX(-50%) scaleY(-1);
    -o-transform: translateX(-50%) scaleY(-1);
    transform: translateX(-50%) scaleY(-1);
}

.uabb-top-row-separator.uabb-curve-down-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(-1);
    -moz-transform: translateX(-50%) scale(-1);
    -ms-transform: translateX(-50%) scale(-1);
    -o-transform: translateX(-50%) scale(-1);
    transform: translateX(-50%) scale(-1);
}

.uabb-bottom-row-separator.uabb-curve-down-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleX(-1);
    -moz-transform: translateX(-50%) scaleX(-1);
    -ms-transform: translateX(-50%) scaleX(-1);
    -o-transform: translateX(-50%) scaleX(-1);
    transform: translateX(-50%) scaleX(-1);
}

.uabb-top-row-separator.uabb-tilt-left-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(-1);
    -moz-transform: translateX(-50%) scale(-1);
    -ms-transform: translateX(-50%) scale(-1);
    -o-transform: translateX(-50%) scale(-1);
    transform: translateX(-50%) scale(-1);
}

.uabb-top-row-separator.uabb-tilt-right-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleY(-1);
    -moz-transform: translateX(-50%) scaleY(-1);
    -ms-transform: translateX(-50%) scaleY(-1);
    -o-transform: translateX(-50%) scaleY(-1);
    transform: translateX(-50%) scaleY(-1);
}

.uabb-bottom-row-separator.uabb-tilt-left-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.uabb-bottom-row-separator.uabb-tilt-right-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleX(-1);
    -moz-transform: translateX(-50%) scaleX(-1);
    -ms-transform: translateX(-50%) scaleX(-1);
    -o-transform: translateX(-50%) scaleX(-1);
    transform: translateX(-50%) scaleX(-1);
}

.uabb-top-row-separator.uabb-tilt-left-separator,
.uabb-top-row-separator.uabb-tilt-right-separator {
    top: 0;
}

.uabb-bottom-row-separator.uabb-tilt-left-separator,
.uabb-bottom-row-separator.uabb-tilt-right-separator {
    bottom: 0;
}

.uabb-top-row-separator.uabb-arrow-outward-separator svg,
.uabb-top-row-separator.uabb-arrow-inward-separator svg,
.uabb-top-row-separator.uabb-cloud-separator svg,
.uabb-top-row-separator.uabb-multi-triangle svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleY(-1);
    -moz-transform: translateX(-50%) scaleY(-1);
    -ms-transform: translateX(-50%) scaleY(-1);
    -o-transform: translateX(-50%) scaleY(-1);
    transform: translateX(-50%) scaleY(-1);
}

.uabb-bottom-row-separator.uabb-multi-triangle svg {
    bottom: -2px;
}

.uabb-row-separator.uabb-round-split:after,
.uabb-row-separator.uabb-round-split:before {
    left: 0;
    width: 50%;
    background: inherit inherit/inherit inherit inherit inherit;
    content: '';
    position: absolute
}

.uabb-button-wrap a,
.uabb-button-wrap a:visited {
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    text-shadow: none;
}

.uabb-button-wrap a *,
.uabb-button-wrap a:visited * {}

.fl-builder-content .uabb-button:hover {
    text-decoration: none;
}

.fl-builder-content .uabb-button-width-full .uabb-button {
    display: block;
    text-align: center;
}

.uabb-button-width-custom .uabb-button {
    display: inline-block;
    text-align: center;
    max-width: 100%;
}

.fl-builder-content .uabb-button-left {
    text-align: left;
}

.fl-builder-content .uabb-button-center {
    text-align: center;
}

.fl-builder-content .uabb-button-right {
    text-align: right;
}

.fl-builder-content .uabb-button i,
.fl-builder-content .uabb-button i:before {
    font-size: 1em;
    height: 1em;
    line-height: 1em;
    width: 1em;
}

.uabb-button .uabb-button-icon-after {
    margin-left: 8px;
    margin-right: 0;
}

.uabb-button .uabb-button-icon-before {
    margin-left: 0;
    margin-right: 8px;
}

.uabb-button .uabb-button-icon-no-text {
    margin: 0;
}

.uabb-button-has-icon .uabb-button-text {
    vertical-align: middle;
}

.uabb-icon-wrap {
    display: inline-block;
}

.uabb-icon a {
    text-decoration: none;
}

.uabb-icon i {
    display: block;
}

.uabb-icon i:before {
    border: none !important;
    background: none !important;
}

.uabb-icon-text {
    display: table-cell;
    text-align: left;
    padding-left: 15px;
    vertical-align: middle;
}

.uabb-icon-text *:last-child {
    margin: 0 !important;
    padding: 0 !important;
}

.uabb-icon-text a {
    text-decoration: none;
}

.uabb-photo {
    line-height: 0;
    position: relative;
    z-index: 2;
}

.uabb-photo-align-left {
    text-align: left;
}

.uabb-photo-align-center {
    text-align: center;
}

.uabb-photo-align-right {
    text-align: right;
}

.uabb-photo-content {
    border-radius: 0;
    display: inline-block;
    line-height: 0;
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.uabb-photo-content img {
    border-radius: inherit;
    display: inline;
    height: auto;
    max-width: 100%;
    width: auto;
}

.fl-builder-content .uabb-photo-crop-circle img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.fl-builder-content .uabb-photo-crop-square img {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.uabb-photo-caption {
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.uabb-photo-caption-below {
    padding-bottom: 20px;
    padding-top: 10px;
}

.uabb-photo-caption-hover {
    background: rgba(0, 0, 0, 0.7);
    bottom: 0;
    color: #fff;
    left: 0;
    opacity: 0;
    visibility: hidden;
    filter: alpha(opacity=0);
    padding: 10px 15px;
    position: absolute;
    right: 0;
    -webkit-transition: visibility 200ms linear;
    -moz-transition: visibility 200ms linear;
    transition: visibility 200ms linear;
}

.uabb-photo-content:hover .uabb-photo-caption-hover {
    opacity: 100;
    visibility: visible;
}

.uabb-active-btn {
    background: #1e8cbe;
    border-color: #0074a2;
    -webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, .6);
    box-shadow: inset 0 1px 0 rgba(120, 200, 230, .6);
    color: white;
}

.fl-builder-bar .fl-builder-add-content-button {
    display: block !important;
    opacity: 1 !important;
}

.uabb-imgicon-wrap .uabb-icon {
    display: block;
}

.uabb-imgicon-wrap .uabb-icon i {
    float: none;
}

.uabb-imgicon-wrap .uabb-image {
    line-height: 0;
    position: relative;
}

.uabb-imgicon-wrap .uabb-image-align-left {
    text-align: left;
}

.uabb-imgicon-wrap .uabb-image-align-center {
    text-align: center;
}

.uabb-imgicon-wrap .uabb-image-align-right {
    text-align: right;
}

.uabb-imgicon-wrap .uabb-image-content {
    display: inline-block;
    border-radius: 0;
    line-height: 0;
    position: relative;
    max-width: 100%;
}

.uabb-imgicon-wrap .uabb-image-content img {
    display: inline;
    height: auto !important;
    max-width: 100%;
    width: auto;
    border-radius: inherit;
    box-shadow: none;
    box-sizing: content-box;
}

.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-circle img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-square img {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.uabb-creative-button-wrap a,
.uabb-creative-button-wrap a:visited {
    background: #fafafa;
    border: 1px solid #ccc;
    color: #333;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    text-shadow: none;
    box-shadow: none;
    position: relative;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

.uabb-creative-button-wrap a:focus {
    text-decoration: none;
    text-shadow: none;
    box-shadow: none;
}

.uabb-creative-button-wrap a .uabb-creative-button-text,
.uabb-creative-button-wrap a .uabb-creative-button-icon,
.uabb-creative-button-wrap a:visited .uabb-creative-button-text,
.uabb-creative-button-wrap a:visited .uabb-creative-button-icon {
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

.uabb-creative-button-wrap a:hover {
    text-decoration: none;
}

.uabb-creative-button-wrap .uabb-creative-button-width-full .uabb-creative-button {
    display: block;
    text-align: center;
}

.uabb-creative-button-wrap .uabb-creative-button-width-custom .uabb-creative-button {
    display: inline-block;
    text-align: center;
    max-width: 100%;
}

.uabb-creative-button-wrap .uabb-creative-button-left {
    text-align: left;
}

.uabb-creative-button-wrap .uabb-creative-button-center {
    text-align: center;
}

.uabb-creative-button-wrap .uabb-creative-button-right {
    text-align: right;
}

.uabb-creative-button-wrap .uabb-creative-button i {
    font-size: 1.3em;
    height: auto;
    vertical-align: middle;
    width: auto;
}

.uabb-creative-button-wrap .uabb-creative-button .uabb-creative-button-icon-after {
    margin-left: 8px;
    margin-right: 0;
}

.uabb-creative-button-wrap .uabb-creative-button .uabb-creative-button-icon-before {
    margin-right: 8px;
    margin-left: 0;
}

.uabb-creative-button-wrap.uabb-creative-button-icon-no-text .uabb-creative-button i {
    margin: 0;
}

.uabb-creative-button-wrap .uabb-creative-button-has-icon .uabb-creative-button-text {
    vertical-align: middle;
}

.uabb-creative-button.uabb-creative-transparent-btn {
    background: transparent;
}

.uabb-creative-button.uabb-creative-transparent-btn:after {
    content: '';
    position: absolute;
    z-index: 1;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

.uabb-transparent-fill-top-btn:after,
.uabb-transparent-fill-bottom-btn:after {
    width: 100%;
    height: 0;
    left: 0;
}

.uabb-transparent-fill-top-btn:after {
    top: 0;
}

.uabb-transparent-fill-bottom-btn:after {
    bottom: 0;
}

.uabb-transparent-fill-left-btn:after,
.uabb-transparent-fill-right-btn:after {
    width: 0;
    height: 100%;
    top: 0;
}

.uabb-transparent-fill-left-btn:after {
    left: 0;
}

.uabb-transparent-fill-right-btn:after {
    right: 0;
}

.uabb-transparent-fill-center-btn:after {
    width: 0;
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.uabb-transparent-fill-diagonal-btn:after,
.uabb-transparent-fill-horizontal-btn:after {
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
}

.uabb-transparent-fill-diagonal-btn {
    overflow: hidden;
}

.uabb-transparent-fill-diagonal-btn:after {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate( 45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate( 45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate( 45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate( 45deg);
    transform: translateX(-50%) translateY(-50%) rotate( 45deg);
}

.uabb-transparent-fill-horizontal-btn:after {
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_down-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_up-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_left-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_right-btn {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.perspective {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    perspective: 800px;
    margin: 0;
}

.uabb-creative-button.uabb-creative-threed-btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    transition: all 200ms linear;
}

.uabb-creative-button.uabb-creative-threed-btn {
    outline: 1px solid transparent;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.uabb-creative-threed-btn.uabb-animate_top-btn:after {
    height: 40%;
    left: 0;
    top: -40%;
    width: 100%;
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
}

.uabb-creative-threed-btn.uabb-animate_bottom-btn:after {
    width: 100%;
    height: 40%;
    left: 0;
    top: 100%;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

.uabb-creative-threed-btn.uabb-animate_left-btn:after {
    width: 20%;
    height: 100%;
    left: -20%;
    top: 0;
    -webkit-transform-origin: 100% 0%;
    -moz-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    -webkit-transform: rotateY(-60deg);
    -moz-transform: rotateY(-60deg);
    -ms-transform: rotateY(-60deg);
    transform: rotateY(-60deg);
}

.uabb-creative-threed-btn.uabb-animate_right-btn:after {
    width: 20%;
    height: 100%;
    left: 104%;
    top: 0;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: rotateY(120deg);
    -moz-transform: rotateY(120deg);
    -ms-transform: rotateY(120deg);
    transform: rotateY(120deg);
}

.uabb-animate_top-btn:hover {
    -webkit-transform: rotateX(-15deg);
    -moz-transform: rotateX(-15deg);
    -ms-transform: rotateX(-15deg);
    -o-transform: rotateX(-15deg);
    transform: rotateX(-15deg);
}

.uabb-animate_bottom-btn:hover {
    -webkit-transform: rotateX(15deg);
    -moz-transform: rotateX(15deg);
    -ms-transform: rotateX(15deg);
    -o-transform: rotateX(15deg);
    transform: rotateX(15deg);
}

.uabb-animate_left-btn:hover {
    -webkit-transform: rotateY(6deg);
    -moz-transform: rotateY(6deg);
    -ms-transform: rotateY(6deg);
    -o-transform: rotateY(6deg);
    transform: rotateY(6deg);
}

.uabb-animate_right-btn:hover {
    -webkit-transform: rotateY(-6deg);
    -moz-transform: rotateY(-6deg);
    -ms-transform: rotateY(-6deg);
    -o-transform: rotateY(-6deg);
    transform: rotateY(-6deg);
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn,
.uabb-creative-flat-btn.uabb-animate_to_left-btn,
.uabb-creative-flat-btn.uabb-animate_from_top-btn,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn {
    overflow: hidden;
    position: relative;
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn i,
.uabb-creative-flat-btn.uabb-animate_to_left-btn i,
.uabb-creative-flat-btn.uabb-animate_from_top-btn i,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i {
    bottom: 0;
    height: 100%;
    margin: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    width: 100%;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    transition: all 200ms linear;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_to_left-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_from_top-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn .uabb-button-text {
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn i:before,
.uabb-creative-flat-btn.uabb-animate_to_left-btn i:before,
.uabb-creative-flat-btn.uabb-animate_from_top-btn i:before,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i:before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn:hover i,
.uabb-creative-flat-btn.uabb-animate_to_left-btn:hover i {
    left: 0;
}

.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover i,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover i {
    top: 0;
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn i {
    top: 0;
    left: -100%;
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn:hover .uabb-button-text {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%);
}

.uabb-creative-flat-btn.uabb-animate_to_left-btn i {
    top: 0;
    left: 100%;
}

.uabb-creative-flat-btn.uabb-animate_to_left-btn:hover .uabb-button-text {
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
    transform: translateX(-200%);
}

.uabb-creative-flat-btn.uabb-animate_from_top-btn i {
    top: -100%;
    left: 0;
}

.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover .uabb-button-text {
    -webkit-transform: translateY(400px);
    -moz-transform: translateY(400px);
    -ms-transform: translateY(400px);
    -o-transform: translateY(400px);
    transform: translateY(400px);
}

.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i {
    top: 100%;
    left: 0;
}

.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover .uabb-button-text {
    -webkit-transform: translateY(-400px);
    -moz-transform: translateY(-400px);
    -ms-transform: translateY(-400px);
    -o-transform: translateY(-400px);
    transform: translateY(-400px);
}

.uabb-tab-acc-content .wp-video,
.uabb-tab-acc-content video.wp-video-shortcode,
.uabb-tab-acc-content .mejs-container:not(.mejs-audio),
.uabb-tab-acc-content .mejs-overlay.load,
.uabb-adv-accordion-content .wp-video,
.uabb-adv-accordion-content video.wp-video-shortcode,
.uabb-adv-accordion-content .mejs-container:not(.mejs-audio),
.uabb-adv-accordion-content .mejs-overlay.load {
    width: 100% !important;
    height: 100% !important;
}

.uabb-tab-acc-content .mejs-container:not(.mejs-audio),
.uabb-adv-accordion-content .mejs-container:not(.mejs-audio) {
    padding-top: 56.25%;
}

.uabb-tab-acc-content .wp-video,
.uabb-tab-acc-content video.wp-video-shortcode,
.uabb-adv-accordion-content .wp-video,
.uabb-adv-accordion-content video.wp-video-shortcode {
    max-width: 100% !important;
}

.uabb-tab-acc-content video.wp-video-shortcode,
.uabb-adv-accordion-content video.wp-video-shortcode {
    position: relative;
}

.uabb-tab-acc-content .mejs-container:not(.mejs-audio) .mejs-mediaelement,
.uabb-adv-accordion-content .mejs-container:not(.mejs-audio) .mejs-mediaelement {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.uabb-tab-acc-content .mejs-overlay-play,
.uabb-adv-accordion-content .mejs-overlay-play {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto !important;
    height: auto !important;
}

.fl-row-content-wrap .uabb-row-particles-background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.uabb-col-particles-background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.uabb-creative-button-wrap a,
.uabb-creative-button-wrap a:visited {
    font-size: 14px;
    text-transform: none;
}

.uabb-dual-button .uabb-btn,
.uabb-dual-button .uabb-btn:visited {
    font-size: 14px;
    text-transform: none;
}

.uabb-js-breakpoint {
    content: "default";
    display: none;
}

@media screen and (max-width: 992px) {
    .uabb-js-breakpoint {
        content: "992";
    }
}

@media screen and (max-width: 768px) {
    .uabb-js-breakpoint {
        content: "768";
    }
}


/* .searchIcon {
    position: absolute;
    right: 10px;
    top: 25px;
} */

.searchModule {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
    background: #c9c1b4;
}

.headerMain .fl-col-group {
    display: flex;
    justify-content: space-between;
}

header .message~p {
    display: none;
}

.number-mobile .storename li a span {
    font-size: 16px !important;
}

header .number-mobile .storename {
    margin-bottom: 0px !important;
}

.topbar-wrp .fl-rich-text {
    display: flex !important;
    justify-content: flex-end !important;
    padding-top: 6px!important;
}

.topbar-wrp .fl-col-group {
    display: flex !important;
    align-items: center !important;
    padding: 0px 20px!important;
}

.topbar-wrp .message {
    padding: 8px 0;
}

.topbar-wrp .number-mobile .fl-rich-text {
    justify-content: flex-end !important;
}

.fullWidthBanner img {
    width: 100%;
}

a.phone {
    font-weight: 400;
    color: #c6a337 !important;
}

.iscwp-gallery-slider .slick-dots li button {
    border: 1px solid #949494;
}

.iscwp-gallery-slider .slick-dots li.slick-active button {
    background: #949494;
}

.headerMain .fl-col:not(.fl-visible-mobile) {
    flex: 2;
}

.headerMain .fl-col.headerLogo {
    flex: 1;
    margin-right: 20px;
}

.navbar .nav .menu-item-has-children>a:after {
    display: none;
}

#responsive-menu-container .phone a span:before,
header .phone a span:before {
    content: "\f095";
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 5px;
    margin-top: -2px;
    font-size: 16px;
    vertical-align: middle;
}

.uabb-creative-menu ul#menu-main-menu li ul.sub-menu .uabb-has-submenu-container .uabb-menu-toggle {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    padding-left: 0;
}

.product-grid.swatch .fl-post-grid-post .fl-post-grid-text>a.fl-button {
    font-size: 13px;
    padding: 12px 14px;
}

.product-detail-layout-4 .button-wrapper,
.product-detail-layout-default .button-wrapper,
.product-detail-layout-5 .button-wrapper,
.button-wrapper a {
    text-align: center!important;
}

.product-detail-layout-4 .button-wrapper .button,
.product-detail-layout-default .button-wrapper .button,
.product-detail-layout-5 .button-wrapper .button {
    padding: 10px 20px;
}

.uabb-gf-style .gform_wrapper ul.gform_fields li.gfield:not( .gf_left_half):not(.gf_left_third):not(.gf_middle_third) {
    padding-right: 16px;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox],
.gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: 2px!important;
}

.fl-builder-content .fl-node-5d827d8591da9 .sub-menu>li>a {
    padding-left: 15px;
    padding-right: 15px!important;
}

.ua-icon-Search {
    cursor: pointer;
}

.save-up-to-link.fl-module-rich-text .fl-module-content {
    margin-bottom: 0;
}

.style-product_list .pro-container .pro-details .button-wrapper a.button {
    padding: 14px 10px;
}

.topbar-wrp a {
    color: #fff!important;
}

.topbar-wrp #menu-top-bar-menu a {
    color: #fff!important;
}

.topbar-wrp #menu-top-bar-menu {
    text-align: left!important;
}

.topbar-wrp #menu-top-bar-menu .address a {
    display: flex;
    padding: 10px 0px!important;
}

.topbar-wrp #menu-top-bar-menu .address a p {
    margin-bottom: 0px!important;
}

.topbar-wrp .phone_header .storename {
    margin-bottom: 0px!important;
}

#menu-header .menu-item-has-children .sub-menu #menu-item-1000022 a span {}

#menu-header .menu-item-has-children .sub-menu #menu-item-1000022 a span:before {
    content: '\f0da';
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 5px;
}

.style-product_list .pro-container>.row {
    flex-direction: row;
}

.style-product_list .pro-container>.row>div {
    flex: 1;
}

.style-product_list .pro-container>.row>div.clearfix {
    flex: 0;
}

.fl-content-full {
    max-width: 100%;
    width: 100%;
}

#menu-header li .sub-menu {
    padding-top: 10px;
    background: none;
    box-shadow: none;
}

.storename .direction a span {
    color: #fff!important;
}

@media(max-width:1280px) {
    #djcustom-header #menu-main-menu li.menu-item a {
        padding-left: 5px;
        padding-right: 5px;
    }
    .style-product_list .pro-container .pro-details .button-wrapper {
        display: block;
    }
}

@media(max-width:1199px) {
    .headerMain .fl-col.headerLogo,
    .headerMain .fl-col.headerRightNav {
        flex: auto;
        position: relative;
    }
    .headerMain .fl-col.headerLogo .fl-photo-align-left,
    .headerMain .fl-col.headerRightNav .menu {}
    .fl-node-5d826ff320ba5>.fl-module-content {
        margin: 20px 0px;
    }
    .fl-node-5d826ff320ba5 .menu a {
        padding: 15px 7px!important;
        font-size: 12px;
    }
    .fl-node-5d827d8591da9 .fl-menu-horizontal.fl-toggle-arrows .fl-has-submenu-container a {
        padding-right: 24px!important;
    }
    .fl-node-5d827d8591da9 .fl-menu-horizontal.fl-toggle-arrows .fl-menu-toggle {
        width: 24px!important;
    }
}

@media(max-width:1024px) {
    .fl-node-5d08ac826d1d6 .uabb-creative-menu .menu>li {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .headerMain .headerRightNav {
        margin-left: 30px;
    }
    .fl-node-5d08ac826d1d6 .uabb-creative-menu.uabb-menu-default .menu>li>.uabb-has-submenu-container>a {
        padding: 10px 8px !important;
    }
    .coretec-sec .fl-module-rich-text .fl-rich-text * {
        font-size: 22px !important;
    }
    div.fl-builder-content .fl-row-content-wrap .coretec-sec .fl-col-content {
        min-height: 350px !important;
    }
    ul#menu-main-menu li {
        padding: 0 15px !important;
    }
    ul#menu-main-menu li .fl-has-submenu-container .fl-menu-toggle:before {
        margin: -5px -35px 0 0 !important;
    }
}

@media(max-width:992px) {
    .headerMain .fl-col.navMobile .fl-rich-text>p {
        text-align: right;
    }
    .searchIcon {
        position: static;
    }
    .fl-module-photo-gallery .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 50% !important;
    }
    .headerMain .fl-col-group.fl-col-group-equal-height {
        padding: 10px 15px;
        display: flex !important;
        align-items: center;
    }
    .headerMain p {
        margin-bottom: 0;
    }
    button#responsive-menu-button {
        top: 0 !important;
        right: 0 !important;
        text-align: center;
    }
    .navMobile .fl-module>.fl-module-content {
        margin-right: 0 !important;
    }
    .headerMain .headerRightNav {
        margin: 0;
    }
    .headerMain .fl-col-group.fl-col-group-equal-height .fl-col {
        flex: 1;
    }
    .headerMain .fl-col-group.fl-col-group-equal-height .headerLogo {
        flex: 2 !important;
        margin-right: 0 !important;
    }
    .headerMain .phone.retailer {
        font-size: 26px;
        color: #42291d;
        margin-right: 30px;
        vertical-align: middle;
        font-family: 'Ultimate-Icons' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .headerMain .phone.retailer:before {
        content: "\ea3e";
    }
    .headerMain .phone.retailer span {
        font-size: 0;
    }
    /* .style-product_list .pro-container .pro-details .button-wrapper {
        display: flex;
    } */
}

@media(max-width:992px) and (min-width:767px) {
    .flexViewIpad .fl-col-group {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media(max-width:768px) {
    .number-mobile {
        display: none;
    }
    .topbar-wrp .fl-col-small:first-child {
        max-width: 100% !important;
        width: 40% !important;
        display: flex;
        align-items: center;
    }
    li#field_23_3,
    li#field_23_4,
    li#field_23_13,
    li#field_23_10,
    li#field_18_10 {
        padding-right: 0px !important;
    }
    .our-ser-sec .fl-col-small {
        max-width: 100% !important;
    }
    #responsive-menu-container #responsive-menu-search-box,
    #responsive-menu-container #responsive-menu-additional-content,
    #responsive-menu-container #responsive-menu-title {
        padding: 10px 5% !important;
    }
    #responsive-menu-container * {
        text-align: left;
    }
    .style-list button.back-button {
        z-index: 25;
    }
    ul#responsive-menu * {
        text-align: left;
    }
    .style-list button.back-button {
        bottom: 100%;
        left: 0;
        top: 10px;
        font-size: 18px !important;
    }
    #field_19_8,
    #field_19_1,
    #field_22_3,
    #field_22_9,
    #field_22_10,
    #field_22_2 {
        padding-right: 0;
    }
    /* .responsive-menu-open .fl-builder-mobile header:before {
            content: '';
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: #ffffff63;
            z-index: 99;
        } */
    .iPadFooter .fl-col-group,
    .fl-col-group.fl-col-group-equal-height {
        display: flex !important;
    }
    .homePageCoreTec .fl-col-group {
        justify-content: center;
    }
    /* .uabb-photo .uabb-photo-content  img.uabb-photo-img {
        width: 360px !important;
    } */
    .iPadFooter .fl-col-group .fl-col {
        flex: 1;
    }
    .headerMain .fl-col.headerLogo {
        margin-right: 0;
    }
    /* .fl-builder-content-primary .fl-row-full-width .fl-row-content-wrap .fl-col-group .fl-col{
        margin: 0px !important;
        float: left !important;
        clear: unset !important;
    } */
    .fl-node-5d827d8591da9 ul.sub-menu a {
        padding-left: 0px!important;
    }
    ul#menu-copyright-bar-menu {
        display: flex;
    }
    .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col {
        flex: 3;
    }
    .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col:nth-child(2) {
        flex: 1;
    }
    .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 33.33%;
    }
    .galleryImages .uabb-photo-gallery {
        display: flex;
        flex-wrap: wrap;
    }
    .djcustom-header .fl-row-content-wrap .fl-col-group-custom-width .fl-col {
        width: 50% !important;
    }
    #menu-flooring-menu,
    #menu-inspiration-menu,
    #menu-about-us {
        text-align: left;
    }
    .headerMain .fl-col-group {
        align-items: center;
    }
    .footerLinks .fl-col-group {
        display: flex;
        flex-wrap: wrap;
    }
    .footerCopyright .fl-col-group {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
        padding: 0;
    }
    .mobileHeaderIcons .fl-col-content.fl-node-content {
        display: flex;
        flex-direction: row;
    }
    .lastColumn .fl-col-content,
    .lastColumn {
        max-width: 100% !important;
        width: 100% !important;
    }
    .lastColumn .fl-col-content {
        display: flex;
        flex-direction: row;
    }
    .homeCategories .fl-col-group.fl-node-5d01389b6c032 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .homeSlider .fl-col-group.fl-node-5c75183d301f3 {
        display: flex;
        justify-content: center;
    }
    .footerCopyright ul.social-icons li {
        margin: 0 5px;
    }
    .footerLinks .fl-col-group-custom-width div.fl-col-small {
        width: 49% !important;
        max-width: none;
        float: left;
    }
    .four-box-gaurantee .fl-col-group .fl-col-small {
        width: 49% !important;
        max-width: none;
        display: inline-block;
    }
    .fl-col-small:not(.fl-col-small-full-width) {
        max-width: 450px;
    }
    /* .mobileHeader .menu-wrap-mobile .is-active{
        position: fixed;
        top: 70px!important;
        right: 16%!important;
        transform: none!important;
    } */
    /* Slider height issue on mobile open */

    .fl-content-slider .fl-slide-bg-photo {
        position: absolute!important;
        min-height: 500px!important;
    }
    .fl-content-slider .fl-slide-foreground .fl-builder-content .fl-row > .fl-row-content-wrap {
        min-height: 500px;
    }
    .fl-slide-mobile-photo {
        z-index: +2;
        position: relative;
        max-height: 500px!important;
        text-align: center!important;
        vertical-align: middle;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .fl-slide-mobile-photo > img{
        padding: 50px;
        max-height: 500px!important;
        width: auto;
        margin: 0 auto;
    }
    .fl-content-slider .fl-slide {
        min-height: 500px !important;
        max-height: 500px !important;
    }
    .fl-content-slider .fl-slide-bg-link{
        z-index: 2;
    }
        /* Slider height issue on mobile closed */
}

@media(max-width:767px) {
    .search-row .product-grid {
        padding: 0px 20px!important;
    }
    .topbar-wrp .fl-col-group {
        flex-direction: column!important;
    }
    .topbar-wrp .fl-col-group>div:nth-child(1) {
        justify-content: center!important;
    }
    .topbar-wrp .fl-rich-text {
        justify-content: center!important;
        padding: 6px 0px!important;
    }
    .topbar-wrp #menu-top-bar-menu .address a {
        justify-content: center;
        padding: 6px 0px 10px 0px!important;
    }
    .highlightPoits .fl-col-group .fl-col {
        width: 100% !important;
    }
    .highlightPoits .fl-col-group .fl-col .fl-col-content {
        border: 0;
    }
    .headerRightNav .fl-node-5d230a5e00677 .fl-rich-text>p {
        margin-bottom: 0;
    }
    h2 {
        font-size: 18px;
    }
    .footermenu .menu-item p a {
        color: #FBFBFB;
        font-family: Roboto;
        font-size: 12px;
        line-height: 23px;
    }
    .fl-col-content .fl-icon-wrap .fl-icon {
        vertical-align: super;
        padding-top: 6px;
    }
    .fl-col-content .fl-icon-wrap .fl-icon .fas.fa-map-marker-alt:before {
        margin-top: 6px;
    }
    .fl-rich-text>.message a {
        font-size: 16px;
    }
    nav ul#menu-copyright-bar-menu {
        align-items: center;
        justify-content: center;
    }
}

@media(min-width:650px) and (max-width:767px) {
    .coretec-sec .fl-col-group.fl-col-group-equal-height {
        display: block !important;
    }
    .footerCopyright div.fl-col-group.fl-col-group-equal-height {
        flex-direction: column;
    }
    .footerCopyright div.fl-col-group.fl-col-group-equal-height .fl-col-small:first-child .fl-node-content {
        padding: 10px 0;
    }
}

@media(max-width:500px) {
    .product-row .fl-post-grid-image>a .exlusive-badge {
        left: 93px !important;
    }
    .footerLinks .fl-col-group-custom-width div.fl-col-small {
        width: 100% !important;
        max-width: none;
    }
    .four-box-gaurantee .fl-col-group .fl-col-small {
        width: 100% !important;
        max-width: none;
    }
}

@media(max-width:480px) {
    .topbar-wrp .fl-col-small:first-child {
        width: 100% !important;
    }
    .footerLinks .fl-col-group,
    .footerCopyright .fl-col-group {
        display: block;
    }
    .headerMain .fl-col-group.fl-col-group-equal-height .fl-col {
        flex: 0;
    }
    .headerMain .fl-col-group.fl-col-group-equal-height .headerLogo {
        flex: 5px !important;
    }
    .headerMain .phone.retailer {
        margin-right: 0;
    }
    .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 100%;
    }
    .location-top .fl-button {
        text-align: unset;
    }
    .fl-node-5d1f5d4b47fe6 div.uabb-image-carousel .slick-next {
        right: 20px;
    }
    .fl-node-5d1f5d4b47fe6 [dir='rtl'] div.uabb-image-carousel .slick-prev {
        left: 20px;
    }
    .iPadFooter .fl-col-group {
        flex-direction: column;
    }
    .iPadFooter .fl-col-group .fl-col {
        flex: 2;
        width: 100% !important;
        text-align: center;
    }
    ul#menu-copyright-bar-menu {
        justify-content: center;
    }
    .footerCopyright .fl-col * {
        margin: 0;
    }
    .footerCopyright .fl-col-group .fl-col {
        height: 30px;
    }
    .lastColumn .fl-col-content {
        flex-direction: column;
    }
    .homeCategories .fl-col-group {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .footerCopyright .fl-col-group {
        flex-direction: column;
    }
}

@media(max-width:430px) {
    .fl-page-bar-text-1 font {
        font-size: 14px;
    }
}

@media(max-width:370px) {
    .fl-page-bar-text-1 font {
        font-size: 11px;
    }
    .fl-page-bar-text-1 i {
        font-size: 16px;
    }
}